<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="DataProviderSuiteApiTarefas" parallel="false">
    <test name="InstanceDataProviderTest">
        <classes>
            <class name="tests.ServiceTestsApiTarefas"/>
            <class name="stepdefs.TestRunner"/>
        </classes>
    </test>
</suite>


